<div id="follow-icons">
	<!--
    <a href="http://facebook.com/zenithar" rel="me"><i class="fa fa-facebook-square fa-2x"></i></a>
	<a href="http://twitter.com/zenithar" rel="me"><i class="fa fa-twitter-square fa-2x"></i></a>
	<a href="http://linkedin.com/in/zenithar" rel="me"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="http://plus.google.com/+ThibaultNormand" rel="author"><i class="fa fa-google-plus-square fa-2x"></i></a>
    <a href="{{ .Site.BaseURL }}index.xml" rel="me"><i class="fa fa-rss-square fa-2x"></i></a> 
    --> 
    <a href="https://github.com/penn201500" rel="me"><i class="fa fa-github-square fa-2x"></i></a>
    <a href="mailto:penn201500@gmail.com" title="Gmail"><i class="fa fa-envelope-o fa-2x" style="color:green" style="font-size: 13px;"></i>    </a>

</div>  
